h1{
    font-family:'Amatic SC', cursive;
    text-align: center;
    font-size: 6rem;
    color:black;
    text-decoration: underline;     
    text-decoration-color: black;  
}

#route-form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

body { 
    background-image: url(https://s1.1zoom.me/big0/244/USA_Roads_Forests_Autumn_Michigan_536718_1280x853.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    width: 940px;
    height: 700px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color:rgba(128, 128, 128, 0.74);
}

#page{
    float: right;
    margin-right: 30px;
    border: 2px solid #000;
}

#table{
    height: 450px;
float: left;
margin-left: 30px;
background-color: white;
border: 2px solid #000;
overflow: scroll;
}

.map {
    width: 600px;
    height: 450px; 
}
